# Ignore node_modules
node_modules/

# Ignore compiled TypeScript files
dist/

# Ignore Visual Studio Code settings
.vscode/

# Ignore TypeScript configuration
tsconfig.json

# Ignore npm package-lock file
package-lock.json

